---
Language: Cpp
BasedOnStyle: WebKit
Standard: Cpp11

ColumnLimit: '140'

TabWidth: '4'
UseTab: Always

AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: Never

NamespaceIndentation: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      false
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BinPackArguments: false
BinPackParameters: false

AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak

...
